.body {
  box-sizing: border-box;
}
.partners-section {
  padding: 80px 0;
  background-color: #fcfcfc;
  overflow-x: hidden;
  font-family:'Poppins', sans-serif;
}

.partners-header {
  text-align: center;
  margin-bottom: 60px;
}

.partners-header h2 {
  color: var(--primary-blue);
  font-size: 2.5rem;
  margin: 0;
}

.partners-header p {
  color: var(--text-gray);
}

/* Slider */
.slider-wrapper {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 200px;
}

/* Gradient fade */
.slider-wrapper::before,
.slider-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.slider-wrapper::before {
  left: 0;
  background: linear-gradient(to right, #fcfcfc, transparent);
}

.slider-wrapper::after {
  right: 0;
  background: linear-gradient(to left, #fcfcfc, transparent);
}

.logo-track {
  display: flex;
  gap: var(--gap);
  animation: scroll 20s linear infinite;
  will-change: transform;
}

.logo-track:hover {
  animation-play-state: paused;
}

/* Cards */
.partner-card {
  width: var(--card-width);
  height: 180px;
  width: 220px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-shrink: 0;
  cursor: pointer;
  margin-right: 15px;

}

.partner-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.partner-card img {
  max-width: 80%;
  max-height: 70%;
  opacity: 0.7;
  transition: 0.3s ease;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
  .logo-track {
    animation: none;
  }
}

/* Mobile */
@media (max-width: 768px) {
  :root {
    --card-width: 180px;
  }
}